body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

#navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navbar a {
    color: #f1c40f;
    text-decoration: none;
    margin: 0 10px;
}

#navbar a.active {
    border-bottom: 2px solid #f1c40f;
}

.hero {
    background-image: url('assets/images/background.jpg');  /* Replace with your actual image URL */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 0;
    color: #ecf0f1;
}

#about img {
    max-width: 50%;
    float: left;
    margin-right: 20px;
}

.service-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.service-card img {
    max-width: 50px;
    margin-right: 20px;
}

#testimonials .testimonial img {
    max-width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

#cta {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

#cta button {
    background-color: #f1c40f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #f1c40f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer a {
    color: #f1c40f;
    text-decoration: none;
}

.social-media img {
    width: 24px;
    margin-right: 10px;
}
